<a
  href="/projects#project-highlights"
  class="cohort-highlight-mark"
  title="Featured on /projects"
  aria-label="Featured on the projects highlights page"
>
  <span class="cohort-highlight-dot" aria-hidden="true"></span>
</a>
