---
const brandmarkSrc = '/images/sec-05-sec-05-brandmark-white-rgb.svg';
---

<a
  href="/projects#project-highlights"
  class="cohort-highlight-mark"
  title="Featured on /projects"
  aria-label="Featured on the projects highlights page"
>
  <img src={brandmarkSrc} alt="" width="20" height="20" decoding="async" />
</a>
