---
import { getCollection } from "astro:content";
import TimelineTabs from "@/components/TimelineTabs";

// Fetch all cohorts
const cohorts = await getCollection("cohorts");
---

<section id="apply" class="w-full bg-primary text-white py-16 xl:py-20">
  <div class="container">
    <TimelineTabs cohorts={cohorts} client:load />
  </div>
</section>
