html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body text-base dark:bg-darkmode-body font-primary leading-relaxed text-text dark:text-darkmode-text m-0 p-0 overflow-x-hidden;
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-normal leading-tight text-text-dark dark:text-darkmode-text-dark;
  text-transform: uppercase;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
  text-transform: uppercase;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}
