---
import Base from "@/layouts/Base.astro";
const page_title = "Policy";
---

<Base title={page_title}>
  <section class="section">
    <div class="container">
      <div class="row mb-8 justify-center">
        <div class="col-auto">
          <h1 class="h1 mb-8 text-center">{page_title}</h1>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-12 md:col-8 lg:col-6">
          <div class="text-center">
            <p class="text-lg" style="font-family: 'Courier New', monospace;">
              We accept anyone based on merit and their alignment with our <a href="/philosophy" class="text-primary hover:underline">PHILOSOPHY</a> page. Nothing else matters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
