---
import Base from "@/layouts/Base.astro";
const page_title = "Policy";
---

<Base title={page_title}>
  <section class="section">
    <div class="container">
      <div class="row mb-8 justify-center">
        <div class="col-auto">
          <h1 class="h1 mb-8 text-center">{page_title}</h1>
        </div>
      </div>
      <div class="row justify-center">
        <div class="col-12 md:col-8 lg:col-6">
          <div class="text-center">
            <p class="text-lg" style="font-family: 'Courier New', monospace;">
              We accept participants based on merit, public proof-of-work, and their alignment with our <a href="/philosophy" class="text-primary hover:underline">philosophy</a>. We welcome anyone with an npub and relevant public commit history.
            </p>
            <p class="text-lg" style="font-family: 'Courier New', monospace;">
              We do not discriminate in our selection process based on race, ethnicity, creed, color, age, national origin, ancestry, religion, political opinion, gender, sexual orientation, gender identity, disability, genetic information, veteran status, military status, or any other such status.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
